
@{
    ViewBag.Title = "Empleado";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<html>

<body>

    <div class="row m-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    REGISTRO EMPLEADO
                </div>
                <div class="card-body">
                    <table class="hover" id="tbUsuario" style="width:100%">
                        <thead>
                            <tr>
                                <th><font color="blue">ID</font></th>
                                <th><font color="blue">Nombre</font></th>
                                <th><font color="blue">Apellido</font></th>
                                <th><font color="blue">Cedula</font></th>
                                <th><font color="blue">Cargo</font></th>
                                <th><font color="blue">Telefono</font></th>
                                <th><font color="blue">Direccion</font></th>
                               
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" id="txtID" />
                            <div class="form-group">
                                <label for="txtNombre">Nombre:</label>
                                <input type="text" class="form-control" id="txtNombre">
                            </div>
                            <div class="form-group">
                                <label for="txtApellido">Apellido:</label>
                                <input type="text" class="form-control" id="txtApellido">
                            </div>
                            <div class="form-group">
                                <label for="txtCedula">Cedula:</label>
                                <input type="text" class="form-control" id="txtCedula">
                            </div>
                            <div id="Metodos"  class="form-group" style="display: none">
                                <label  for="txtTelefono">Cargo:</label>
                                <select class="form-control" id="SCargo">
                                    <option value="4">Administrador</option>
                                    <option value="1">Recepcionista</option>
                                    <option value="2">Conductor</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtTelefono">Telefono:</label>
                                <input type="text" class="form-control" id="txtTelefono">
                            </div>
                            <div class="form-group">
                                <label for="txtTelefono">Direccion:</label>
                                <input type="text" class="form-control" id="txtDireccion">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>



    @section scripts{

        <script>
         var tabla_Cliente;
            var Cargo = 0;
            $(document).ready(function () {

                tabla_Cliente = $('#tbUsuario').DataTable({
                "ajax": {
                    "url": "@Url.Action("listarE", "Admin")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "ID_Empleado" },
                    { "data": "Nombre" },
                    { "data": "Apellido" },
                    { "data": "Cedula" },
                    { "data": "Cargo" },
                    { "data": "Telefono" },
                    { "data": "Direccion" }                     
                    
                    ],
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                    },
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            AbrirModal(0)
                        }
                    }, 'print'
                 ]
                });

                $('#tbUsuario tbody').on('dblclick', 'tr', function () {
                    var Cliente = {};
                    Cliente.Nombre = $(this).children().eq('1').text();
                    Cliente.Apellido = $(this).children().eq('2').text();
                    Cliente.Cedula = $(this).children().eq('3').text();
                    if ($(this).children().eq('4').text() == "Recepcionista") { Cargo = 1}
                    if ($(this).children().eq('4').text() == "Administrador") { Cargo = 4 }
                    Cliente.Telefono = $(this).children().eq('5').text();
                    Cliente.Direccion = $(this).children().eq('6').text();
                    Cliente.Codigo = $(this).children().eq('0').text();
                    mostrarCliente(Cliente);
                });

            });

          function AbrirModal($idCliente) {

              $("#txtID").val($idCliente);

              if ($idCliente == 0) {
                  $("#txtNombre").val("");
                  $("#txtApellido").val("");
                  $("#txtCedula").val("");
                  $("#txtTelefono").val("");
                  $("#txtDireccion").val("");
                  var x = document.getElementById("Metodos");
                  x.style.display = "block";                 
              }
             
              $('#formModal').modal('show');
        }

            function Guardar() {
              
                if ($("#Nombre").val() == "" || $("#Apellido").val() == "") {
                    swal("Mensaje", "Complete los campos", "error");
                    return;
                }

              var IDCargo = 0;
              if ($("#txtID").val() == 0) {
                  IDCargo = $("#SCargo").val()
              }
              else { IDCargo = Cargo }

              var $data = {
                OCliente: {
                    ID_Empleado: $("#txtID").val(),
                    Nombre: $("#txtNombre").val(),
                    Apellido: $("#txtApellido").val(),
                    Cedula: $("#txtCedula").val(),
                    Telefono: $("#txtTelefono").val(),
                      Direccion: $("#txtDireccion").val(),
                      ID_Cargo: IDCargo
                }
            }

            jQuery.ajax({
                url: "@Url.Action("GuardarE", "Admin")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                        tabla_Cliente.ajax.reload();
                        $('#formModal').modal('hide');
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                }
            });
        }

            function mostrarCliente(Cliente) {
                $("#txtID").val(Cliente.Codigo);
              $("#txtNombre").val(Cliente.Nombre);
              $("#txtApellido").val(Cliente.Apellido);
              $("#txtCedula").val(Cliente.Cedula);
              $("#txtTelefono").val(Cliente.Telefono);
              $("#txtDireccion").val(Cliente.Direccion);
              var x = document.getElementById("Metodos");
              x.style.display = "none";
              AbrirModal(Cliente.Codigo)
           }

        </script>
    }


</body>
</html>